<h2>Novo Produto</h2>

<form action="/products" method="post">
  {{> products/form}}
  <button type="submit" class="btn btn-success">Criar Produto</button>
  <a href="/products" class="btn btn-secondary">Cancelar</a>
</form>